@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="\Diary" class="btn btn-primary btn-lg">LOG IN TO AN ACCOUNT HERE</a>.</p>
    <!--Added  login button immediatey in the home page - more visible/UX friendly-->
</div>
