@{
    ViewData["Title"] = "Privacy Policy";
    ViewBag.Message = "You're only as safe as your secrets... or something.";
}
<h1>@ViewData["Title"]</h1>
<h4>@ViewBag.Message</h4>

<p>Cloud Diary is dedicated to allow you to have your thoughts to yourself.</p>

<p>Rest easy that anything you decide to put into your own personal Cloud Diary...</p>

<p>...is your own personal secret ;)</p>
