
@{
    ViewData["Title"] = "Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Diary</h1>

@if(ViewBag.DiaryEntries != null)
{
    <ul>
        @foreach(DiaryEntry item in ViewBag.DiaryEntries)
        {
            <li>
                @item.Created.ToString("dd/MM/yyyy HH:mm") -> <b>@item.Text</b>
            </li>
        }
    </ul>
}